<div
  id="historyModal"
  class="fixed inset-0 flex items-center justify-center z-50 hidden bg-gray-800 bg-opacity-50"
>
  <div class="bg-white rounded-lg shadow-lg w-full max-w-4xl">
    <div class="p-8">
      <!-- Title -->
      <div class="flex justify-between">
        <h1 class="text-lg font-bold">History</h1>
        <svg
          class="text-red-500 hover:text-red-600 fill-current cursor-pointer"
          viewBox="0 0 24 24"
          height="32px"
          width="32px"
          onclick="toggleModalHistory(false)"
        >
          <path
            d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"
          />
        </svg>
      </div>
      <!-- Tables  -->
      <div class="flex flex-col h-full">
        <div class="flex-grow overflow-y-auto min-h-[16rem]">
          <table id="historyTable" class="table-auto min-w-full w-full">
            <thead>
              <tr>
                <th class="font-bold p-2 border-b text-left">S/N</th>
                <th class="font-bold p-2 border-b text-left">Request Type</th>
                <th class="font-bold p-2 border-b text-left">Status</th>
                <th class="font-bold p-2 border-b text-left">Last Updated</th>
                <th class="font-bold p-2 border-b text-left w-28">Refresh</th>
                <th class="font-bold p-2 border-b text-left">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd:bg-gray-100 hover:bg-yellow-300 cursor-pointer">
                <td class="p-2 border-b text-left underline cursor-pointer">
                  Loading ...
                </td>
                <td
                  class="p-2 border-b text-left text-green-600 cursor-pointer"
                >
                  Loading ...
                </td>
                <td class="p-2 border-b text-left text-red-600 cursor-pointer">
                  Loading ...
                </td>
                <td
                  class="p-2 border-b text-left text-bold text-gray-400 cursor-pointer"
                >
                  Loading ...
                </td>
                <td
                  class="p-2 border-b text-left text-amber-600 cursor-pointer"
                >
                  Loading ...
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Buttons -->
      <div class="button-container flex justify-between mt-8">
        <button
          class="px-4 py-2 bg-gray-500 hover:bg-gray-600 text-white rounded select-none"
          onclick="deleteAllHistory()"
        >
          Clear History
        </button>
        <!-- I want align this text to the btm -->
        <div id="pageNumber" class="flex items-center">Page 1</div>
        <div>
          <button
            id="historyPrevPage"
            class="px-4 py-2 bg-sky-500 hover:bg-sky-600 text-white rounded select-none"
            onclick="historyPrevPage()"
          >
            << Newer
          </button>
          <button
            id="historyNextPage"
            class="px-4 py-2 bg-cyan-500 hover:bg-cyan-600 text-white rounded select-none"
            onclick="historyNextPage()"
          >
            Older >>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
